
.cl-card.cl-signIn-start.🔒️.cl-internal-1p733cp:before { 
    font-weight: 700;
    display: none;
    color: #000000bf;
    border: 1px solid #00000072;
    border-radius: 10px;
    background: #00000019;
    content: '=== Guest login === Email=guest@g.com Password=1234';
}




.cl-userButtonPopoverMain.🔒️.cl-internal-8vb5lt {
    backdrop-filter: blur(10px);
    @apply 
    bg-transparent
    text-slate-800
    dark:bg-black
    dark:bg-opacity-25
    dark:text-white

}

.cl-userButtonPopoverCard.cl-userButton-popover.🔒️.cl-internal-8bykxp {
    background: transparent;
    overflow: visible;
}

.cl-internal-11ttlho {
    @apply 
    p-[2px]
    px-2
    flex
    w-fit
    bg-purple-500
    rounded-bl-xl
    rounded-br-xl
    text-white
    translate-x-[-10px]
}

.cl-userButtonPopoverFooter {
    display: none;
}

.cl-userButtonPopoverFooter.🔒️.cl-internal-1857dod {
    background: transparent;
    @apply
    absolute
    w-fit
    bg-opacity-0
    flex
    place-self-end
    overflow-visible
    -bottom-[17px]
}

.cl-internal-5ghyhf path {
    
    fill: white;
}

.cl-internal-5ghyhf ellipse {
    fill: white;
}

.cl-internal-wf8x4b {
    display: none;
}


.cl-userButtonPopoverMain.🔒️.cl-internal-muj3sv {
   @apply
   border
   border-white
   rounded-2xl
   border-opacity-30
   

}

.cl-userButtonPopoverActionButton.cl-button *,.cl-button {
    @apply
    dark:text-white
    hover:dark:text-white
    hover:bg-white
    hover:bg-opacity-15
}


.cl-navbarMobileMenuRow.🔒️.cl-internal-1x28sfr{
  background: transparent;
  backdrop-filter: blur(8px);
    @apply
    bg-slate-400
    bg-opacity-45
    text-white
    dark:bg-black
    dark:bg-opacity-45
    
    
}


.cl-internal-pp7u0o,.cl-navbar.🔒️.cl-internal-lt7rwl{
    @apply
    text-slate-700
    dark:text-white
     bg-slate-400
    bg-opacity-95
    dark:bg-black
    dark:bg-opacity-95
}

.cl-scrollBox{
    background: transparent;
    @apply
    dark:bg-black
    dark:bg-opacity-60
    mt-2
    rounded-t-none
    dark:text-white
}

.cl-cardBox.🔒️.cl-internal-mkizyn {
    @apply
    backdrop-blur-md
}

.cl-scrollBox * {
    @apply
    dark:text-white
}

.cl-modalBackdrop.🔒️.cl-internal-i34cwg {
    backdrop-filter: blur(6px);
    background: transparent;
}


.cl-footer {
    display: none;
}

.cl-footer.🔒️.cl-internal-1mdy2np {
    opacity: 0;
}

.cl-navbar.🔒️.cl-internal-k7p5wl {
    backdrop-filter: blur(3px);
    @apply
    dark:bg-black
    dark:bg-opacity-90
}

.cl-menuList.🔒️.cl-internal-6lplep {
    background: rgba(255, 0, 0, 0.279);
    border: 1px solid rgba(255, 43, 43, 0.656);
}

.cl-menuList.🔒️.cl-internal-6lplep *{
   @apply
   dark:text-red-200
   text-red-600

}



.cl-actionCard.🔒️.cl-internal-1e217up {
    background: transparent;
    @apply
    bg-white
    dark:bg-black
    bg-opacity-70
    border
    border-white
    border-opacity-15

}

.cl-formFieldInput.cl-input {
    background: transparent;
    @apply
    bg-black
    bg-opacity-10
    dark:bg-white
    dark:bg-opacity-20
}


.cl-userButtonPopoverCard.cl-userButton-popover.🔒️.cl-internal-8bykxp {
    background: transparent;
}